<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<app-header></app-header>

<!--START BODY-->
<body style="background-image: url('../../../assets/images/fondo_nuevo.jpg');" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white2 topbar mb-4 static-top shadow" id="linea">
        <a class="block-10">
          <a href="index">
            <img src="../../../assets/images/LogoMorado.png" width="200" height="80">
          </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <ul class="navbar-nav ml-auto">

          <span class="mr-2 d-inline d-lg-inline text-black-600" style="color: white;">{{loginService.user.name}}</span>
          <div class="topbar-divider d-none d-sm-block"></div>
          <input type="button" routerLink="/" value="Cerrar sesión" (click)="loginService.logOut()" class="btn btn-secondary"/>

        </ul>
      </nav>


      <!--Start global content-->
      <div class="container-fluid2">
        <div class="d-sm-flex">
          <h1 class="h1">CONTENIDO DEL CURSO</h1>
        </div>
        <div class="row">

          <!--Left side-->
          <div class="col-lg-8 mb-8">

            <!--PFD'S-->
            <div class="row">
              <div class="col-lg-12 mb-12">
                <div class="card shadow mb-4">
                  <div class="card-header2 py-3">
                    <h6 class="m-0 font-weight-bold" style="color: black;">PRE A1 STARTERS</h6>
                  </div>
                  <div class="card-body">


                    <li *ngFor="let material of materials">

                      <a href="/download/{{material.id}}">{{material.name}}</a>
                      <a class="btn py-2 px-2 btn-primary" href="/delete/{{material.id}}">Eliminar</a>
                    </li>
                    <br/>

                    <!--Insert any type of material-->
                    <div class="input-group">
                      <form enctype="multipart/form-data" method="post" th:action="@{/admin}">
                        <p>
                          <input name="material" required type="file"/>
                        </p>
                        <p>
                          <input class="btn btn-primary" type="submit" value="Upload">
                        </p>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--End PDF'S-->

            <!--START GRAPH-->
              <app-bar-chart></app-bar-chart>
              <!--END GRAPH-->

          </div>
          <!--End left side-->

          <!--Start right side-->
          <div class="col-lg-4 mb-4">
            <div class="row">
              <div class="col-lg-12 mb-12">
                <div class="card shadow">
                  <div class="card-header2 py-3">
                    <div *ngIf="course">
                    <h6 class="m-0 font-weight-bold" style="color: black;">CLASE : {{course.category}}</h6>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="list-group">
                      <h4>Lista alumnos:</h4>

                      <li *ngFor="let user of users">

                        <p><a style="color:#5f4495">Nombre:</a> {{user.name}}</p>
                        <p><a style="color:#5f4495">Email:</a>  {{user.email}}</p>

                      </li>
                      <br>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End right side-->
        </div>
      </div>
      <!--End global content-->


      <app-userfooter></app-userfooter>
    </div>
  </div>
  <!--INSTRUCTOR LOGOUT MODAL-->
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
       tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p><BR></p>
          <p>¿Estás seguro de querer cerrar sesión?</p>
          <p><BR></p>

        </div>
        <div class="modal-footer">
          <form action="/logout" method="post">
            <input class="btn btn-secondary" type="submit" value="Sí"/>
          </form>
          <button class="btn btn-secondary" data-dismiss="modal" type="button">No</button>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>
</html>
