<!DOCTYPE html>
<html lang="en">

<app-header></app-header>

<body>
<!--START NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="block-10"routerLink="index.html"><img src="../../../assets/images/LogoMorado.png" width="200" height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto pl-auto">
        <li class="nav-item active"><a routerLink="index" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">Sobre Nosotros</a></li>
        <li class="nav-item"><a routerLink="/course" class="nav-link">Cursos</a></li>
        <li class="nav-item"><a routerLink="/instructor" class="nav-link">Profesores</a></li>
        <li class="nav-item"><a routerLink="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contáctanos</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Inicio de Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--END NAVBAR-->

<div class="hero-wrap js-fullheight" style="background-image: url('../../../assets/images/Portada_Final.png');">
  <div class="overlay"></div>
</div>

<!--START BOX TO REGISTER-->
<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-5 order-md-last">
        <div class="login-wrap p-4 p-md-5">
          <h3 class="mb-4">Inicio De Sesión</h3>
          <form action="/user_admin" class="signup-form" id="login-form">
            <div class="form-group">
              <label class="label" >Correo Electrónico</label>
              <input type="text" class="form-control" name="usuario">
            </div>
            <div class="form-group">
              <label class="label" >Contraseña</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group d-flex justify-content-end mt-4">
              <button type="submit" class="btn btn-primary submit" id = "login-form-submit"><span class="fa fa-paper-plane"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END BOX TO REGISTER-->

<!--START PART OF COURSES-->
<section class="ftco-section" style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">EMPIEZA A APRENDER CON NOSOTROS JUGANDO</span>
        <h2 class="mb-4">Explora La Sección De Cursos Online</h2>
      </div>
    </div>
    <div class="col-md-12 heading-section text-center ftco-animate">
      <h3 class="mb-4">Nuestros alumnos se dividen en diferentes grupos por edades,
        que son "Jolly Kids", "Explorer Kids" y "Keen Kids". Todos los rggupos no
        superan los 12 niños, para que el la atención a los niños sea más personalizada</h3>
    </div>
    <div class="col-md-12 text-center mt-5">
      <a routerLink="course" class="btn btn-secondary">Ver Todos Nuestros Cursos</a>
    </div>
  </div>
</section>
<!--END PART OF COURSES-->

<!--START PURPLE STRIPE-->

<!--END PURPLE STRIPE-->

<!--START CONTACT US-->
<section class="ftco-section ftco-about img">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 about-intro">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="d-flex about-wrap">
              <div class="img d-flex align-items-center justify-content-center" style="background-image:url(../../../assets/images/background_green.png);"></div>
              <div class="img-2 d-flex align-items-center justify-content-center" style="background-image:url(../../../assets/images/AperturaKiddysHouse.png);"></div>
            </div>
          </div>
          <div class="col-md-6 pl-md-5 py-5">
            <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                <span class="subheading">Mejora las habilidades de tus hijos</span>
                <h2 class="mb-4">Consúltanos cualquier duda, y estaremos encantados de responderle.</h2>
                <p><a routerLink="contact" class="btn btn-primary">Contacta Con Nosotros</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END CONTACT US-->

<!--START RECENT POST OF OUR BLOG-->
<section class="ftco-section" style="background-image: url('../../../assets/images/fondo_nuevo.jpg');">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">NUESTRO BLOG</span>
        <h2 class="mb-4">Entradas Recientes</h2>
      </div>
    </div>



    <div class="row d-flex">
      <div  *ngFor="let post of posts">
        <div class="col-lg-4 ftco-animate">
          <div class="blog-entry">
            <img src="/api/posts/{{post.id}}/image" class="block-20" >
            <div class="text d-block">
              <h3 class="heading"><a routerLink="post/{{post.id}}">{{post.title}}</a></h3>
              <p>{{post.description}}</p>
              <p><a routerLink="post/{{post.id}}" class="btn btn-secondary py-2 px-3">Leer más</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>

<!--END RECENT POST OF OUR BLOG-->
<app-footer></app-footer>

</body>
</html>
