<!--Start Post-->
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold" style="color: black;">ESRIBE UNA NUEVA ENTRADA AL BLOG:</h6>
      </div>
      <div class="card-body">
        <form action="/admin/post/createNew" method = "post"  enctype="multipart/form-data">
          <div>

            <div class="form-group">
              <label >Título</label>
              <input  #title type="text" class="form-control" >
            </div>
            <div class="form-group">
              <label class="label" >Descripción</label>
              <input  #description  type="text" class="form-control" >
            </div>

          </div>

          <app-upload-file></app-upload-file>

          <div class="form-group">
            <input type="submit" value="Crear" class="btn py-3 px-4 btn-primary" (click)="createPost($event, title.value, description.value)">
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
<!--End Post-->
