<!--Start Post-->
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold" style="color: black;">ESRIBE UNA NUEVA ENTRADA AL BLOG:</h6>
      </div>
      <div class="card-body">
        <form action="/admin/post/createNew" method = "post"  enctype="multipart/form-data">
          <div>

            <div>
              <label >Título</label>
              <input type="string" name="title" id="title" [(ngModel)]="post.title" placeholder="Titulo"  />
            </div>
            <div>
              <label class="label" >Descripción</label>
              <input type="string" name="description" id="description" [(ngModel)]="post.description" placeholder="Descripcion"  />
            </div>

          </div>
          <div>
            <ng-template [ngIf]="post.id">
              <label>Upload image: </label><br>
            </ng-template>
            <input #file type='file' name='imageFile' accept=".jpg, .jpeg"  placeholder="Imagen"/>
          </div>
          <div >
            <input type="submit" value="Crear" class="btn py-3 px-4 btn-primary" (click)="createPost()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End Post-->
