<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<!--START HEAD-->
<app-header></app-header>
<!--END HEAD-->

<!--START BODY-->
<body>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="block-10"href="index.html"><img src="../../../assets/LogoMorado.png" width="200" height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="/index" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">Sobre Nosotros</a></li>
        <li class="nav-item"><a routerLink="/course" class="nav-link">Cursos</a></li>
        <li class="nav-item"><a routerLink="/instructor" class="nav-link">Profesores</a></li>
        <li class="nav-item"><a routerLink="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item active"><a routerLink="/contact" class="nav-link">Contáctanos</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--START FIRST PART-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/fondo.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index">Inicio <i class="fa fa-chevron-right"></i></a></span> <span>Blog <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Blog</h1>
      </div>
    </div>
  </div>
</section>
<!--END FIRST PART-->

<!--START SECOND PART-->
<section class="ftco-section bg-light">
  <div class="container" >
    <div class="row d-flex">
      <!--START FIRST POST-->
      <div  *ngFor="let post of posts">
        <div class="col-lg-4 ftco-animate">
          <div class="blog-entry">
            <img src="/post/{{post.id}}/image" class="block-20" >
            <div class="text d-block">
              <h3 class="heading"><a href="post/{{post.id}}">{{post.title}}</a></h3>
              <p>{{post.description}}</p>
              <p><a href="post/{{post.id}}" class="btn btn-secondary py-2 px-3">Leer más</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div  style="display: none">
      <div class="row d-flex" id="postsArea">
        <!--START FIRST POST-->
        <div  *ngFor="let post of restOfPosts">
          <div class="col-lg-4 ftco-animate" >
            <div class="blog-entry">
              <img src="/post/{{post.id}}/image" class="block-20" >
              <div class="text d-block">
                <h3 class="heading"><a href="post/{{post.id}}">{{post.title}}</a></h3>
                <p>{{post.description}}</p>
                <p><a href="post/{{post.id}}" class="btn btn-secondary py-2 px-3">Leer más</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="loadArea">

    </div>

    <button  id="loadMore" class="btn btn-secondary py-2 px-3 -align-center" >Cargar más</button>


    <!--END FIRST POST-->


  </div>


</section>
<!--END SECOND PART-->


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $('#loadMore').click(function(){
    $( "#loadArea" ).load( "/blog #postsArea" )});
</script>

<app-footer></app-footer>
</body>
</html>
