
<!DOCTYPE html>
<html lang="en">

<app-header></app-header>
<!--START BODY-->
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="block-10"routerLink="index.html"><img src="../../../assets/LogoMorado.png" width="200" height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="/index" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">Sobre Nosotros</a></li>
        <li class="nav-item"><a routerLink="/course" class="nav-link">Cursos</a></li>
        <li class="nav-item"><a routerLink="/instructor" class="nav-link">Profesores</a></li>
        <li class="nav-item"><a routerLink="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item active"><a routerLink="/contact" class="nav-link">Contáctanos</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--START FIRST PART-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/fondo.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="index">Inicio <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a routerLink="blog">Blog <i class="fa fa-chevron-right"></i></a></span> <span>Información sobre los nuevos cursos<i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Blog</h1>
      </div>
    </div>
  </div>
</section>
<!--END FIRST PART-->


<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
        <h2 class="mb-3">Información sobre los nuevos cursos</h2>
        <p>A partir de ahora, los padres de familia podrán tener a disposición la información necesaria sobre los cursos que tendremos a disposición, el rango de edades en los que está centrado esta institución, los horarios, etc.</p>
        <p>
          <img src="../../../assets/images/MasInfoKiddysHouse.png" alt="" class="img-fluid">
        </p>
        <p>Toda esta información y más podrá encontrarla dentro de la sección de "Cursos", donde podrá consultar todos datos que usted necesita para los cursos que vayan a cursar sus hijos.</p>
        <div class="tag-widget post-tag-container mb-5 mt-5">

        </div>


      </div> <!-- .col-md-8 -->

      <div class="col-lg-4 sidebar ftco-animate pl-md-4 py-md-5">

        <div class="sidebar-box ftco-animate">

        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Entradas Recientes</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(../../../assets/images/MatriculasAbiertas.png);"></a>
            <div class="text">
              <h3 class="heading"><a routerLink="blog-single">Matrículas abiertas para el nuevo curso</a></h3>
              <div class="meta">
                <div><a routerLink="#"><span class="fa fa-calendar"></span> 19 febrero, 2021</a></div>
                <div><a routerLink="#"><span class="fa fa-user"></span> Admin</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(../../../assets/images/MasInfoKiddysHouse.png);"></a>
            <div class="text">
              <h3 class="heading"><a routerLink="blog-single2">Información sobre los nuevos cursos</a></h3>
              <div class="meta">
                <div><a routerLink="#"><span class="fa fa-calendar"></span> 1 febrero, 2020</a></div>
                <div><a routerLink="#"><span class="fa fa-user"></span> Admin</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(../../../assets/images/AperturaKiddysHouse.png);"></a>
            <div class="text">
              <h3 class="heading"><a routerLink="blog-single3">¡Apertura de Kiddy's House!</a></h3>
              <div class="meta">
                <div><a routerLink="#"><span class="fa fa-calendar"></span> 15 enero, 2021</a></div>
                <div><a routerLink="#"><span class="fa fa-user"></span> Admin</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
</section>
<!---->


<app-footer></app-footer>

</body>
</html>
