<!DOCTYPE html>
<html lang="en">

<app-header></app-header>

<!--START BODY-->
<body>

<!--START NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="block-10"href="index.html"><img src="../../../assets/images/LogoMorado.png" width="200" height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto pl-auto">
        <li class="nav-item active"><a href="index" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">Sobre Nosotros</a></li>
        <li class="nav-item"><a href="/course" class="nav-link">Cursos</a></li>
        <li class="nav-item"><a href="/instructor" class="nav-link">Profesores</a></li>
        <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contáctanos</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Inicio de Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--END NAVBAR-->

<!--START FIRST PART-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/fondo.jpg');">
  <div class="overlayInstructors"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index">Inicio <i class="fa fa-chevron-right"></i></a></span> <span>Profesores <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Profesores </h1>
      </div>
    </div>
  </div>
</section>
<!--END FIRST PART-->

<!--START SECOND PART-->

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">

      <!--START FIRST TEACHER-->
      <div *ngFor="let user of users">
      <div class="col-lg-4 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <img src="api/admin/users/{{user.id}}/image" class="block-20">
          </div>
          <div class="text pt-3">
            <h3><a>{{user.name}}</a></h3>
            <span class="position mb-2">{{user.rol}}</span>
          </div>
        </div>
      </div>
      </div>
      <!--END FIRST TEACHER-->

    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27"></div>
      </div>
    </div>
  </div>
</section>

<!--END SECOND PART-->

<app-footer></app-footer>
</body>
</html>

