<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<app-header></app-header>

<!--START BODY-->
<body style="background-image: url('../../../assets/images/fondo_nuevo.jpg');" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white2 topbar mb-4 static-top shadow" id="linea">
        <a class="block-10">
          <a href="index">
            <img src="../../../assets/images/LogoMorado.png" width="200" height="80">
          </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <ul class="navbar-nav ml-auto">

          <span class="mr-2 d-inline d-lg-inline text-black-600" style="color: white;">{{loginService.user.name}}</span>
          <div class="topbar-divider d-none d-sm-block"></div>
          <input type="button" routerLink="/" value="Cerrar sesión" (click)="loginService.logOut()" class="btn btn-secondary"/>

        </ul>
      </nav>

      <!--Start global content-->
      <div class="container-fluid2">
        <div class="d-sm-flex">
          <h1 class="h1">CONTENIDO DEL CURSO</h1>
        </div>
        <div class="row">

          <!--Left side-->
          <div class="col-lg-8 mb-8">

            <app-userform></app-userform>

            <app-blogform></app-blogform>


            <!--Start courses administration-->
            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                  <div class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold" style="color: black;">ADMINISTRA LOS CURSOS</h6>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <!--Form to create a course-->
                      <app-courseForm></app-courseForm>

                    </div>
                    <!--Form to delete a course-->
                      <app-courseDetails></app-courseDetails>

                    <!--ADD STUDENT/TEACHER TO A COURSE-->
                    <app-addToCourse></app-addToCourse>
                  <!--DELETE STUDENT/TEACHER FROM COURSE-->
                    <app-usersDelete></app-usersDelete>
                  <!--delete user-->

                  </div>
                </div>
              </div>
            </div>
            <!--End Course Administration-->
          </div>
          <!--End left side-->


          <!--Start right side-->
          <div class="col-lg-4 mb-4">



            <!-- START TIMETABLE-->
            <div class="row">
              <div class="col-lg-12 mb-12">
                <div class="card shadow mb-4">
                  <div class="card-header2 py-3">
                    <h6 class="m-0 font-weight-bold" style="color: black;">HORARIO</h6>
                  </div>
                  <div class="card-body">
                    <img src="../../../assets/images/timetable.png" width="100%" height="auto">
                  </div>
                </div>
              </div>
            </div>
            <!--END TIMETABLE-->


          </div>
          <!--End right side-->
        </div>
      </div>
      <!--End global content-->

      <app-userfooter></app-userfooter>
    </div>

  </div>

  <!--INSTRUCTOR LOGOUT MODAL-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p><BR></p>
          <p>¿Estás seguro de querer cerrar sesión?</p>
          <p><BR></p>

        </div>
        <div class="modal-footer">
          <form action="/logout" method="post">
            <input type="submit" value="Sí" class="btn btn-secondary"/>
          </form>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>

        </div>
      </div>
    </div>
  </div>
</div>




<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>
</html>
