<html>
<app-header></app-header>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="block-10"routerLink="/index"><img src="../../../assets/images/LogoMorado.png" width="200" height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto pl-auto">
        <li class="nav-item active"><a routerLink="/index" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">Sobre Nosotros</a></li>
        <li class="nav-item"><a routerLink="/course" class="nav-link">Cursos</a></li>
        <li class="nav-item"><a routerLink="/instructor" class="nav-link">Profesores</a></li>
        <li class="nav-item"><a routerLink="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contáctanos</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Inicio de Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/fondo.jpg'); background-size:cover; background-position: -20px;">
  <div class="overlayContact"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="index">Inicio <i class="fa fa-chevron-right"></i></a></span> <span>Contáctanos <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Contáctanos</h1>
      </div>
    </div>
  </div>
</section>


<!--Start of sending an email-->
<section class="ftco-section">
  <div class="container">
    <div class="row ">
      <div class="col-lg-8 mb-8">
        <div class="wrapper"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
          <div class="row no-gutters">
            <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">¿En qué podemos ayudarte?</h3>
                <form action="/contactUs" method = "post" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name">Nombre y apellidos</label>
                        <!-- <input type="text" name="fullNname" id="fullName" [(ngModel)]="user.name"  placeholder="Nombre Completo" />-->
                        <input #nombre type="text" class="form-control" name="name" id="name" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Dirección de email </label>
                        <input #email type="email" class="form-control" name="email" id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="subject">Asunto</label>
                        <input #asunto type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="content">Mensaje</label>
                        <input #contenido name="content" class="form-control" id="content" cols="30" rows="4" placeholder="Message">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="submit" value="Enviar Mensaje" class="btn btn-primary"
                        (click)="createEmail($event,nombre.value,email.value,asunto.value,contenido.value)">
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--Aqui i"-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="wrapper"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
            <div
              class="contact-wrap w-100 p-md-4 p-3">
              <h5 class="m-0 " style="color: black;">Contáctanos por teléfono </h5>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <h6  style="color: #5f4495;"> Tfno. +51 972557691</h6>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of sending an email-->

<!--Start of frequent questions -->
<section class="ftco-section2">
  <div class="container">
    <div class="row1" style="align-content: center;">
      <div class="subapartado">

        <div class="titulo1">
          <p class="titulo"> PREGUANTAS FRECUENTES</p>
        </div>


      </div>
      <div class="subapartado">

        <div class="titulo">
          <p class="titulo">¿Cuál es el horario de atención al cliente?</p>
        </div>

        <div class="info"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
          <p class="info"> Horario de atención al cliente: de lunes a viernes de 3 pm a 8 pm.</p>
        </div>

      </div>
      <div class="subapartado">

        <div class="titulo">
          <p class="titulo">¿Cuál es la forma de pago para empezar a estudiar en Kiddy ́s House?</p>
        </div>

        <div class="info"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
          <p class="info" > Para empezar a estudiar en Kiddy ́s House deberán de realizar el pago de 120€ por transferencia bancaria. (El número de cuenta se facilitará por correo)</p>
        </div>

      </div>

      <div class="subapartado">

        <div class="titulo">
          <p class="titulo">¿Cómo se realizarán las clases?</p>
        </div>

        <div class="info"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
          <p class="info">Las clases en Kiddy ́s House se dictarán de manera virtual</p>
        </div>

      </div>

      <div class="subapartado">

        <div class="titulo">
          <p class="titulo">¿Qué necesito en casa para poder estudiar en Kiddy ́s House?</p>
        </div>

        <div class="info"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">

          <p class="info">•Una conexión a internet estable, vía wifi o cable de red con un ancho de banda de 4 Mbps.</p>
          <p class="info">•Una PC o Laptop con sistema operativo Windows o Mac OS, cámara web, altavoces oauriculares y un micrófono.</p>
          <p class="info">•Un área tranquila y sin interrupcionesdurantela sesiónde clases</p>
        </div>

      </div>

      <div class="subapartado">

        <div class="titulo">
          <p class="titulo">¿Con que plataforma virtual van a enseñar a los alumnos?</p>
        </div>

        <div class="info"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
          <p class="info">En Kiddy ́s House usaremos la plataforma Zoom educativo.</p>
        </div>

      </div>
      <div class="subapartado">

        <div class="titulo">
          <p class="titulo">¿Cómo podrán ingresarán los estudiantes a la plataforma Zoom educativo?</p>
        </div>

        <div class="info"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
          <p class="info"> A todos los alumnos se les enviara un ID y la clave de acceso a la plataforma por medio del celular del apoderado.</p>
        </div>

      </div>
      <div class="subapartado">

        <div class="titulo">
          <p class="titulo">¿Cuántos alumnos por aula habrá en Kiddy ́s House?</p>
        </div>

        <div class="info"  style="background-image: url(../../../assets/images/fondo_nuevo.jpg);">
          <p class="info">El total de alumno máximo por aula será de 12 niños.</p>
        </div>

      </div>

    </div>

  </div>
</section>
<!--End of frequent questions -->

<app-footer></app-footer>
</body>
</html>
