<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<app-header></app-header>

<body style="background-image: url('../../../assets/images/fondo_nuevo.jpg');">

<nav class="navbar navbar-expand navbar-light bg-white2 topbar mb-4 static-top shadow" id="linea">

  <a class="block-10">
    <a routerLink="index">
      <img src="../../../assets/images/LogoMorado.png" width="200" height="80">
    </a>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="oi oi-menu"></span> Menu
  </button>
</nav>

<!--START ERROR 404-->
<div class="d-flex justify-content-center text-white text-center">
  <div class="row">
    <div class="col-12">
      <h1 class="display-1 pt-5">
        <span>ERROR</span>
      </h1>
      <h5 class="text-muted pb-2">
        <span>Ha ocurrido un error no registrado. Contacta con el administrador</span>
      </h5>
    </div>
  </div>
</div>
<!--END ERROR 404-->


<app-userfooter></app-userfooter>

</body>
</html>
