{{>header}}

<!--START BODY-->
<body style="background-image: url('images/fondo_nuevo.jpg');">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white2 topbar mb-4 static-top shadow" id="linea">
                    
                    <a class="block-10">
                        <a href="index"> 
                            <img src="images/LogoMorado.png" width="200" height="80">
                        </a>
                    </a>
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="oi oi-menu"></span> Menu
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle2" href="index" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="user_student">
                                    <img src="images/documents2.png" width="37" height="37" style="filter:saturate(200%)"></a>                  
                                </a>
                            </a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle3" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-inline d-lg-inline text-black-600" style="color: white;">Nombre de Usuario</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!--START GLOBAL CONTENT-->
                <div class="container-fluid2">

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 35%;color:lightblue"></div>
                      </div>

                    <div class="d-sm-flex">
                        <div class="progress">
                           
                          </div>
                        <h1 class="h1">CORREO</h1>
                    </div>
                    <div class="row">

                        <!--START LEFT PART-->
                        <div class="col-lg-8 mb-8">

                            <!--START MAIL-->
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold" style="color: black;">Nuevo</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label">Para: *</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label">CC: </label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label">CCO: </label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label">Asunto: </label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Asunto">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Cuerpo</label>
                                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                    <label class="custom-file-label" for="inputGroupFile02">Seleccionar archivo...</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="">Subir</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Enviar" class="btn btn-primary">   <input type="submit" value="Guardar" class="btn btn-primary">
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END MAIL-->
                        </div>
                        <!--END LEFT PART-->

                        <!--START RIGHT PART-->
                        <div class="col-lg-4 mb-4">
                            <div class="row">           
                                <div class="col-lg-12 mb-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header2 py-3">
                                            <h6 class="m-0 font-weight-bold" style="color: black;">Mi buzón <a href="#" class="badge badge-warning">¡Nuevos!</a></h6>
                                        </div>
                                        <div class="col-lg-12 mb-12">
                                            <div class="row">
                                                <div class="wrapper">
                                                    <!--EMAIL TABLE LIST-->
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col"></th>
                                                                <th scope="col">De</th>
                                                                <th scope="col">Asunto</th>
                                                                <th scope="col">Fecha</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">
                                                                    <div class="input-group mb-1">
                                                                        <div class="input-group-prepend">
                                                                            <div class="input-group-text">
                                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#email">
                                                                                    <img src="images/iconoCorreo.png" style="width: 1rem; height: 1rem;"/>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>    
                                                                </th>
                                                                <td>Lucy</td>
                                                                <td>Writting</td>
                                                                <td>7/2/20</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <div class="input-group mb-1">
                                                                        <div class="input-group-prepend">
                                                                            <div class="input-group-text">
                                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#email">
                                                                                    <img src="images/iconoCorreo.png" style="width: 1rem; height: 1rem;"/>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </th>
                                                                <td>Jacob</td>
                                                                <td>Listening</td>
                                                                <td>7/2/20<td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <div class="input-group mb-1">
                                                                        <div class="input-group-prepend">
                                                                            <div class="input-group-text">
                                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                                                                    <img src="images/iconoCorreo.png" style="width: 1rem; height: 1rem;"/>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>    
                                                                </th>
                                                                <td>Larry</td>
                                                                <td>Writting</td>
                                                                <td>6/1/20</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <div class="input-group mb-1">
                                                                        <div class="input-group-prepend">
                                                                            <div class="input-group-text">
                                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                                                                    <img src="images/iconoCorreo.png" style="width: 1rem; height: 1rem;"/>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>    
                                                                </th>
                                                                <td>Patry</td>
                                                                <td>Writting</td>
                                                                <td>2/1/20</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--EMAIL LIST-->
                                                    <!--
                                                    <div class="list-group">
                                                        
                                                        <a href="#" class="list-group-item list-group-item-action active">
                                                            <div class="row">
                                                            
                                                                <div class="col-lg-4">De</div>
                                                                <div class="col-lg-4">Asunto</div>
                                                                <div class="col-lg-4">Fecha</div>
                                                            </div>
                                                        </a>                                                    
                                                        <a href="#" class="list-group-item list-group-item-action"href="#" data-toggle="modal" data-target="#logoutModal">
                                                            <div class="row">
                                                                
                                                                <div class="col-lg-4">Lucy</div>
                                                                <div class="col-lg-4">Verbos</div>
                                                                <div class="col-lg-4">5/4/20</div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="list-group-item list-group-item-action"href="#" data-toggle="modal" data-target="#logoutModal">
                                                            <div class="row">
                                                            
                                                                <div class="col-lg-4">Jacob</div>
                                                                <div class="col-lg-4">Listening</div>
                                                                <div class="col-lg-4">7/2/20</div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#logoutModal" style="position:relative;">
                                                            <div class="row" >
                                                                
                                                                <div class="col-lg-4">Larry</div>
                                                                <div class="col-lg-4">Writting</div>
                                                                <div class="col-lg-4">6/1/20</div> 
                                                            </div>
                                                        </a>
                                                    </div>
                                                    -->

                                                    <!--line break to separate the list from the page navigation -->
                                                    <div class="row">
                                                        <div class="col-lg-12"> <br></div>
                                                    </div>


                                                    <div class="row">
                                                        <div class= "col-3"></div>
                                                            <div class="col-9">
                                                                <nav aria-label="Page navigation example">
                                                                    <ul class="pagination">
                                                                        <li class="page-item">
                                                                            <a class="page-link" href="#" aria-label="Previous"style="color: #5f4495">
                                                                                <span aria-hidden="true">&laquo;</span>
                                                                                <span class="sr-only" >Previous</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="page-item"><a class="page-link" style="color: #5f4495" href="#">1</a></li>
                                                                        <li class="page-item"><a class="page-link" style="color: #5f4495" href="#">2</a></li>
                                                                        <li class="page-item">
                                                                            <a class="page-link" href="#" aria-label="Next"style="color: #5f4495">
                                                                                <span aria-hidden="true">&raquo;</span>
                                                                                <span class="sr-only">Next</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </nav>
                                                            </div>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END RIGHT PART-->
                        </div>
                    </div>
                </div>
                <!--END GLOBAL CONTENT-->

                <!--START END PAGE-->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!--END END PAGE-->
            </div>
        </div>

        <!--OPEN EMAIL-->
        <div class="modal fade" id="email" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">De: <a> Persona</a>
                            <p>Asunto: <a> Este es el asunto</a></p></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> Hola que tal?? aaaaa aaaaa aaaa aa
                            aaaaa aa aaaa aaaa aaa aaaa aaa sssss dff fffg g gg hh hj j j jj j j j j j j</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
         <!--INSTRUCTOR LOGOUT MODAL-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><BR></p>
                        <p>¿Estás seguro de querer cerrar sesión?</p>
                        <p><BR></p>
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Si</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
            
</body>
</html>
