{{> header}}

<body style="background-image: url('images/fondo_nuevo.jpg');">

<nav class="navbar navbar-expand navbar-light bg-white2 topbar mb-4 static-top shadow" id="linea">

    <a class="block-10">
        <a href="index">
            <img src="images/LogoMorado.png" width="200" height="80">
        </a>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
    </button>
</nav>

<!--START LOGIN ERROR-->
<div class="d-flex justify-content-center text-white text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-1 pt-5">
                <span>LOGIN ERROR</span>
            </h1>
            <h5 class="text-muted pb-2">
                <span>El email o la contraseña son incorrectos</span>
            </h5>
            <div class="text-center">
                <a href="/login" class="btn btn-primary">Iniciar sesión de nuevo</a>
            </div>
        </div>
    </div>
</div>
<!--END LOGIN ERROR-->

<!--START END PAGE-->
<footer2 class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer2>
<!--END END PAGE-->

</body>
</html>