{{>header}}
<body>
	{{>navbar}}
	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('images/fondo.jpg'); background-size:cover; background-position: -20px;">
		<div class="overlayContact"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="index">Inicio <i class="fa fa-chevron-right"></i></a></span> <span>Contáctanos <i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">Contáctanos</h1>
				</div>
			</div>
		</div>
	</section>
	
		
	</div>
<!--Start of sending an email-->
</section>
<div class="text-center">
	<h2>Contactanos</h2>
	<p>Gracias por  contactar con nosotros. Te responderemos lo mas pronto posible</p>
</div>
</section>
<!--End of frequent questions -->
				
{{>footer}}