{{>header}}

<!--START BODY-->
<body style="background-image: url('images/fondo_nuevo.jpg');">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white2 topbar mb-4 static-top shadow" id="linea">
                    <a class="block-10">
                        <a href="index"> 
                            <img src="images/LogoMorado.png" width="200" height="80">
                        </a>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="oi oi-menu"></span> Menu
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle2" href="index" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="email">
                                    <img src="images/email.png" style="width:42px;height:42px;">
                                </a>
                                  
                            </a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle3" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-inline d-lg-inline text-black-600" style="color: white;">Nombre de Usuario</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!--Start global content-->
                <div class="container-fluid2">
                    <div class="d-sm-flex">
                        <h1 class="h1">CONTENIDO DEL CURSO</h1>
                    </div>
                    <div class="row">

                        <!--Left side-->
                        <div class="col-lg-8 mb-8">

                            <!--PFD'S-->
                            <div class="row">           
                                <div class="col-lg-12 mb-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header2 py-3">
                                            <h6 class="m-0 font-weight-bold" style="color: black;">PRE A1 STARTERS</h6>
                                        </div>
                                        <div class="card-body">
                                            {{#listMaterial}}
                                            <li><a href="/download/{{id}}">{{name}}</a></li>
                                            {{/listMaterial}}
                                            
                                            <!--Insert any type of material-->
                                            <div class="input-group">
                                                <form th:action="@{/admin}" method="post" enctype="multipart/form-data">
                                                    <p>
                                                        <input type="file" name="material" required/>
                                                    </p>
                                                    <p>
                                                        <input type="submit" value="Upload" class="btn btn-primary">
                                                    </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End PDF'S-->
                        </div>
                        <!--End left side-->

                        <!--Start right side-->
                        <div class="col-lg-4 mb-4">
                            <div class="row">           
                                <div class="col-lg-12 mb-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header2 py-3">
                                            <h6 class="m-0 font-weight-bold" style="color: black;">CLASES</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active"href="#" data-toggle="modal" data-target="#class">
                                                  <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Pre A1 Starters</h5>
                                                    <small>lunes y viernes</small>
                                                  </div>
                                                  <p class="mb-1">Horario Tarde-A Grupo-3</p>
                                                  <small class="text-muted">YLE Starters</small>
                                                </a>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End right side-->
                    </div>
                </div>
                <!--End global content-->

                <!--Start of the end of page-->
                <footer2 id="foo∫ter2">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer2>
                <!--End of the end of page-->
            </div>
        </div>
        <!--INSTRUCTOR LOGOUT MODAL-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><BR></p>
                        <p>¿Estás seguro de querer cerrar sesión?</p>
                        <p><BR></p>
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Si</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
            
</body>
</html>
