{{>header}}

<!--START BODY-->
<body style="background-image: url('images/fondo_nuevo.jpg');" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white2 topbar mb-4 static-top shadow" id="linea">
                <a class="block-10">
                    <a href="index">
                        <img src="images/LogoMorado.png" width="200" height="80">
                    </a>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle2" href="index" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a href="email" >
                                <img src="images/email.png" style="width:42px;height:42px;">
                            </a>

                        </a>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle3" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-inline d-lg-inline text-black-600" style="color: white;">Nombre de Usuario</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>

            <!--Start global content-->
            <div class="container-fluid2">
                <div class="d-sm-flex">
                    <h1 class="h1">CONTENIDO DEL CURSO</h1>
                </div>
                <div class="row">

                    <!--Left side-->
                    <div class="col-lg-8 mb-8">

                        <!--PFD'S-->
                        <!--
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">PRE A1 STARTERS</h6>
                                    </div>
                                    <div class="card-body">
                                        {{#listMaterial}}
                                        <li>
                                            <a href="/download/{{id}}">{{name}}</a>
                                            <a href="/delete/admin/{{id}}"  class="btn py-2 px-2 btn-primary">Eliminar</a>
                                        </li>
                                        {{/listMaterial}}
    -->
                                        <!--Insert any type of material-->
                        <!--
                                        <div class="input-group">
                                            <form th:action="@{/admin}" method="post" enctype="multipart/form-data">
                                                <p>
                                                    <input type="file" name="material" required/>
                                                </p>
                                                <p>
                                                    <input type="submit" value="Upload" class="btn btn-primary">
                                                </p>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!--End PDF'S-->



                        <!--Start register user-->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">REGISTRA A UN NUEVO ALUMNO/PROFESOR</h6>
                                    </div>
                                    <div class="card-body">
                                        <form action="/register" method = "post" modelAttribute="user">
                                        <div class="form-group">
                                            <label  for="username">Nombre Completo</label>
                                            <input type="text" id="username" name="username" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Correo Electrónico</label>
                                            <input type="text" id="email" name="email"class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <label  for="password">Contraseña</label>
                                            <input id="password" name="password" type="text" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <label  for="rol">Profesor o alumno</label>
                                            <input id="rol" name="rol" type="text" class="form-control" >
                                            </select></p>
                                        </div>

                                            <input type='file' name='imageField' accept=".jpg, .jpeg" />

                                        <div class="form-group">
                                            <input type="submit" value="Registrar" class="btn py-3 px-4 btn-primary">
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--End register user-->

                        <!--Start Post-->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">ESRIBE UNA NUEVA ENTRADA AL BLOG:</h6>
                                    </div>
                                    <div class="card-body">
                                        <form action="/admin/post/createNew" method = "post"  enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="title">Título</label>
                                                <input type="text" class="form-control" id="title" name="title" placeholder="Título del post" >
                                            </div>
                                            <div class="form-group">
                                                <label class="label" for="description">Descrición</label>
                                                <input type="text" class="form-control" id="description" name="description" placeholder="Descripción del post">
                                            </div>

                                            <input type='file' name='imageField' accept=".jpg, .jpeg" />

                                            <div class="form-group">
                                                <input type="submit" value="Post" class="btn py-3 px-4 btn-primary">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Post-->


                        <!--Start courses administration-->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">ADMINISTRA LOS CURSOS</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">

                                            <!--REGISTER COURSE-->
                                            <label class="label" >Crear curso</label>
                                            <form action="/admin/course/addCourse" method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                <input type="text" id="category" name="category"  placeholder="Nombre" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                <input type="text" id="ageStart" name="ageStart" placeholder="Edad Inicial" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                <input type="text" id="ageEnd" name="ageEnd" placeholder="Edad Final" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                <input type="text" id="instructor" name="instructor" placeholder="Instructor" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                <input type="text" id="price" name="price" placeholder="Precio" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <input type='file' name='imageField' accept=".jpg, .jpeg" />
                                                </div>

                                                <div class="form-group">
                                                    <input type="submit" value="Crear" class="btn py-3 px-4 btn-primary">
                                                </div>
                                            </form>

                                        </div>

                                        <!--DELETE COURSE-->
                                        <div class="form-group">
                                            <label class="label" for="password">Borrar curso</label>
                                            <form action="/admin/course/delete" method="get" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <input type="text" id="category_delete" name="category_delete"  placeholder="Curso a borrar" class="form-control"/>
                                                </div>
                                                <input type="submit" value="Borrar" class="btn py-3 px-4 btn-primary">
                                            </form>
                                        </div>

                                        <!--ADD STUDENT/TEACHER TO A COURSE-->
                                        <div class="form-group">
                                            <label class="label" for="password">Añadir alumno/profesor a curso</label>
                                            <form action="/" method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <input type="text" id="course_category" name="course_category"  placeholder="Nombre del Curso" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" id="email1" name="email1" placeholder="Email del Alumno/Profesor" class="form-control"/>
                                                </div>
                                            <input type="submit" value="Añadir" class="btn py-3 px-4 btn-primary">
                                            </form>
                                        </div>

                                        <!--DELETE STUDENT/TEACHER FROM COURSE-->
                                        <div class="form-group">
                                            <label class="label" for="password">Borrar alumno/profesor del curso</label>
                                            <form action="/" method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <input type="text" id="course_category_delete" name="course_category_delete"  placeholder="Nombre del Curso" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" id="email_delete1" name="email_delete1" placeholder="Email del Alumno/Profesor" class="form-control"/>
                                                </div>
                                            <input type="submit" value="Borrar" class="btn py-3 px-4 btn-primary">
                                            </form>
                                        </div>

                                        <!--DELETE STUDENT/TEACHER-->
                                        <div class="form-group">
                                            <label class="label" for="password">Borrar alumno/profesor de la academia</label>
                                            <form action="/admin/user/delete" method="get" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <input type="text" id="email_delete" name="email_delete"  placeholder="Email del usuario a borrar" class="form-control"/>
                                                </div>
                                            <input type="submit" value="Borrar" class="btn py-3 px-4 btn-primary">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Course Administration-->
                    </div>
                    <!--End left side-->


                    <!--Start right side-->
                    <div class="col-lg-4 mb-4">

                        <!--START COURSE-->
                        <!--
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">CLASES</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active"href="#" data-toggle="modal" data-target="#class">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Pre A1 Starters</h5>
                                                    <small>lunes y viernes</small>
                                                </div>
                                                <p class="mb-1">Horario Tarde-A Grupo-3</p>
                                                <small class="text-muted">YLE Starters</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!-- END COURSES-->


                        <!-- START TIMETABLE-->
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">HORARIO</h6>
                                    </div>
                                    <div class="card-body">
                                        <img src="images/timetable.png" width="100%" height="auto"></img></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END TIMETABLE-->

                        <!--START COURSES LIST-->
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">CURSOS</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="card-body">
                                                    {{#courselist}}
                                                    <li><a>{{category}}</a></li>
                                                    {{/courselist}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END COURSES LIST-->


                        <!--START TEACHERS LIST-->
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">PROFESORES</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="card-body">
                                                    {{#listTeacher}}
                                                    <li><a>{{email}}</a></li>
                                                    {{/listTeacher}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END TEACHERS LIST-->

                        <!--START STUDENTS LIST-->
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header2 py-3">
                                        <h6 class="m-0 font-weight-bold" style="color: black;">ALUMNOS</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <div class="card-body">
                                                    {{#listStudent}}
                                                    <li><a>{{email}}</a></li>
                                                    {{/listStudent}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END STUDENTS LIST-->

                    </div>
                    <!--End right side-->
                </div>
            </div>
            <!--End global content-->

            <!--Start of the end of page-->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!--End of the end of page-->
        </div>
    </div>

    <!--INSTRUCTOR LOGOUT MODAL-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><BR></p>
                    <p>¿Estás seguro de querer cerrar sesión?</p>
                    <p><BR></p>

                </div>
                <div class="modal-footer">
                    <form action="/logout">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Si</button>
                    </form>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>
</html>
