<!--Start register user-->
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header2 py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold" style="color: black;">REGISTRA A UN NUEVO ALUMNO/PROFESOR</h6>
      </div>
      <div class="card-body">
        <form action="/register" method = "post" modelAttribute="user" enctype="multipart/form-data">
          <div class="form-group">
            <label >Nombre Completo</label>
            <input #name type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label >Correo Electrónico</label>
            <input  #email  type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label  >Contraseña</label>
            <input  #password  type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label  >Profesor o alumno</label>
            <input  #role  type="text" class="form-control" >

          </div>


         <!-- <app-upload-file></app-upload-file>-->

          <div class="form-group">
            <input type="submit" value="Crear" class="btn py-3 px-4 btn-primary" (click)="createUser($event, name.value, email.value, password.value,role.value)">
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<!--End register user-->
