<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<app-header></app-header>


<!--START BODY-->
<body style="background-image: url('../../../assets/images/fondo_nuevo.jpg');" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white2 topbar mb-4 static-top shadow" id="linea">
        <a class="block-10">
          <a href="index">
            <img src="../../../assets/images/LogoMorado.png" width="200" height="80">
          </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <ul class="navbar-nav ml-auto">

              <span class="mr-2 d-inline d-lg-inline text-black-600" style="color: white;">{{loginService.user.name}}</span>
          <div class="topbar-divider d-none d-sm-block"></div>
          <input type="button" routerLink="/" value="Cerrar sesión" (click)="loginService.logOut()" class="btn btn-secondary"/>

        </ul>
      </nav>

      <!--START GLOBAL CONTENT-->
      <div class="container-fluid2">
        <div class="d-sm-flex">
          <h1 class="h1">CONTENIDO DEL CURSO</h1>
        </div>
        <div class="row">

          <!--LEFT SIDE-->
          <div class="col-lg-8 mb-8">

            <!--PFD'S-->
            <div class="row">
              <div class="col-lg-12 mb-12">
                <div class="card shadow mb-4">
                  <div class="card-header2 py-3">
                    <h6 class="m-0 font-weight-bold" style="color: black;">MATERIAL CLASE: Pre A1 Starters</h6>
                  </div>
                  <div class="card-body">

                    <li *ngFor="let material of materials">
                      <a href="/download/{{material.id}}">{{material.name}</a>
                      <a href="/checkbox/{{material.id}}"  class="btn py-2 px-2 btn-primary">¡Hecho!</a>
                    </li>
                    <br/>
                  </div>
                </div>
              </div>
            </div>
            <!--END PDF'S-->


            <!--START OPINIONS-->
          <app-userStudentComment></app-userStudentComment>
            <!--END OPINIONS-->
          </div>
          <!--END LEFT SIDE-->

          <!--START RIGHT SIDE-->
          <div class="col-lg-4 mb-4">
            <div class="row">
              <div class="col-lg-12 mb-12">
                <div class="card shadow mb-4">
                  <div class="card-header2 py-3">
                    <h6 class="m-0 font-weight-bold" style="color: black;">RECOMENDACIONES</h6>
                  </div>
                  <div class="card-body">
                    <div class="list-group">
                      <li *ngFor="let recomendation of recomendations">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{recomendation.name}}</h5>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--END RIGHT SIDE-->
        </div>
      </div>
      <!--END GLOBAL CONTENT-->


    </div>
  </div>

  <!--RECOMMENDATIONS MODAL-->
  <div class="modal fade" id="class" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">5 Questionarios divertidos!</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Pre A1 Starters</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/images/quiz.jpg" width="200px" height="200px"></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="info.pdf"><img src="../../../assets/images/PDF_logo.png" width="50px" height="30px">Questionario.pdf</a></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Ya esta!</button>
        </div>
      </div>


    </div>
  </div>
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p><BR></p>
          <p>¿Estás seguro de querer cerrar sesión?</p>
          <p><BR></p>

        </div>
      </div>
    </div>

  </div>
</div>
<app-userfooter></app-userfooter>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>
</html>
