<!--REGISTER COURSE-->
<label class="label" >Crear curso</label>
<form action="/api/courses/" method="post" enctype="multipart/form-data">
  <div>
      <div >
        <label>Category: </label>
        <input [(ngModel)]="course.category" />
      </div>

      <div >
        <label>Age Start: </label>
        <input [(ngModel)]="course.ageStart" />
      </div>

      <div >
        <label>Age End: </label>
        <input [(ngModel)]="course.ageEnd"  />
      </div>

      <div>
        <label>Instructor: </label>
        <input [(ngModel)]="course.instructor"  />
      </div>

      <div>
        <label>Price: </label>
        <input [(ngModel)]="course.price"  />
      </div>
      <div>
        <label>Imagen: </label>
        <img [src]="courseImage()"><br>

        <ng-template [ngIf]="course.id">
          <label>Upload image: </label><br>
        </ng-template>

        <input #file type='file' name='imageFile' accept=".jpg, .jpeg" />
      </div>
      <div >
        <input type="submit" value="Crear" class="btn py-3 px-4 btn-primary" (click)="createCourse()">
      </div>
  </div>
</form>
