<!--REGISTER COURSE-->
<label class="label" >Crear curso</label>
<form action="/admin/course/addCourse" method="post" enctype="multipart/form-data">
  <div *ngIf="course">
    <!--<input  [(ngModel)]="post.title" type="text" class="form-control" >-->
      <div class="form-group">
        <input [(ngModel)]="course.category" type="text"class="form-control"/>
      </div>

      <div class="form-group">
        <input [(ngModel)]="course.ageStart" type="text"class="form-control"/>
      </div>

      <div class="form-group">
        <input [(ngModel)]="course.ageEnd" type="text"class="form-control"/>
      </div>

      <div class="form-group">
        <input [(ngModel)]="course.instructor" type="text"class="form-control"/>
      </div>

      <div class="form-group">
       <input [(ngModel)]="course.price" type="text"class="form-control"/>
      </div>

      <div class="form-group">
        <input type='file' name='imageField' accept=".jpg, .jpeg" />
      </div>

      <div class="form-group">
        <input type="submit" value="Crear" class="btn py-3 px-4 btn-primary">
      </div>

  </div>
</form>
