<!--REGISTER COURSE-->
<label class="label" >Crear curso</label>
<form action="/api/courses/" method="post" enctype="multipart/form-data">
  <div>
      <div >
        <input type="text" name="category" id="category" [(ngModel)]="course.category"  placeholder="Categoria"/>
      </div>

      <div>
        <input type="number" name="ageStart" id="ageStart" [(ngModel)]="course.ageStart"  placeholder="Edad inicio" />
      </div>

      <div >
        <input type="number" name="ageEnd" id="ageEnd" [(ngModel)]="course.ageEnd"   placeholder="Edad Fin" />
      </div>

      <div>
        <input type="text" name="instructor" id="instructor" [(ngModel)]="course.instructor" placeholder="Profesor" />
      </div>

      <div>
        <input type="number" name="price" id="price" [(ngModel)]="course.price" placeholder="precio"  />
      </div>
      <div>
        <ng-template [ngIf]="course.id">
          <label>Upload image: </label><br>
        </ng-template>
        <input #file type='file' name='imageFile' accept=".jpg, .jpeg"  placeholder="Imagen"/>
      </div>
      <div >
        <input type="submit" value="Crear" class="btn py-3 px-4 btn-primary" (click)="createCourse()">
      </div>
  </div>
</form>
